server:
  port: 9090

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/ewm_stats
    username: stats_user
    password: stats_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always

logging:
  level:
    root: INFO
